.recipecard {
    border:2px solid #c41560;
    border-radius:14px;
    position:relative;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    transform: scale(1);
    transition: box-shadow 0.4s, transform 0.2s;
    background-color: #c41560;
    width: 100%;
    
  }


  .grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 35px;
    grid-row-gap: 55px;
    width:80%;
    margin-left: 10%;
    margin-bottom: 5%;
  }
  
  .recipecard:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.61);
    transform: scale(1.05);
  }
  
  
  .recipecard .recipeimg {
    width:100%;
    border-bottom: 2px solid #c41560;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
  
  .recipecard .bookmark {
    position:absolute;
    width:10%;
    top:5px;
    right:5px;
    transform: scale(1);
    transition: transform 0.1s;
  }
  
  .recipecard .bookmark:hover {
    transform: scale(1.1);
  }
  
  .recipecard .bookmark:active {
    transform: scale(1.3);
  }
  
  /*
  .recipecard .recipecontent {
    display:flex;
    flex-direction: column;
  }
  */
  
  .recipecard .recipetitle {
    margin:0;
    padding:0;
    padding-left:2%;
    font-size:xx-large;
    color: white;
  }
  
  .recipecard .recipestatblock {
    display: flex;
    margin-left: 2%;
    margin-right:2%;
    line-height: 1.6rem;
    justify-content: space-between;
    font-size: large;
    color: white;
  }
  
  .recipecard .recipestatlabel {
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
    color: white;
  }
  
  
  .recipecard .recipestatlabel p {
    margin:0;
    padding:0;
    color: white;
  }
  
  
  .recipecard .recipebottomcontent {
    margin-top:1rem; 
    color: white;
  }
  
  
  .recipecard .recipekeyingredients {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size:large;
    color: white;
  }
  
  .recipecard .recipekeyingredients li {
    background:white;
    border-radius: 14px;
    font-weight: bolder;
    margin: 2% 3%;
    padding: 2%;
    color:#c41560;
  }
  
  .recipecard .recipetimeblock {
    display:flex;
    justify-content: center;
    font-size: large;
    color: white;
    margin-bottom: 2%;
  }
  
  .recipecard .recipetimeblock .recipedurationtime {
    font-weight: bold;
    margin-left:5%;
    color: white;
    margin-bottom: 2%;
  }
  