body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 3px 12px #999;
    }
.grid-titles{
margin-left: 10%;
 margin-top: 3%;
color: #c41560;
font-size: xx-large;


}


.line-split{
 background-color: #c41560;
 color: #c41560;
 height: 2px;
 width: 80%;
 margin-left: 10%;

}

.logout-form{
    margin-top: 5%;
    margin-left: 50%;

}

.logout{

    width: 125px;
    height:50px;
    background-color: #c41560;
    border-radius: 10px;
    color:white;
}
.logout:hover{
    color: #ec6424;
    border: 1px solid #ec6424;
    box-shadow: 2px 2px 20px #ec6424;
}
.nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
    
    
    }
.nav li {
    list-style: none;
    font-weight: bolder;
    font-size: 120%;
    
    }
.logo{
    letter-spacing: 3px;
    color:#c41560;
}

.navlink a {

    color:#c41560;
    text-decoration: none;
    font-size: 1.2em;
}

.navlink a:hover {

    color:#ec6424;
  
}

.navsearch {
    border: 1px solid gray;
    border-radius: 4px;
    height: 1.7rem;
    padding: 0px 6px 0px 6px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

.searchbar {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 20px;
    padding-left: 7px;
    width: 90%;
    max-width: 584px;
    display: inline;
}

    .searchbar:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    }

    .searchbar:focus-within {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
        border: 1px solid #ec6424;
    }

.searchtext {
    background-color: transparent;
    border: none;
    margin: 0;
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
    text-align: center;
    width: 90%;
}

.search {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    height: 34px;
}

.searchsubmit {
    border: none;
    background: none;
    color: #c41560;
    height: 28px;
    width: 28px;
    margin-right: 12px;
    background-image: url(../images/magnifying-glass.png);
    float: right;
    vertical-align: middle;
    margin-top: 3px;
    margin-left: -28px;
}

.ingredientitem {
    background: #ccc;
    border-radius: 14px;
    margin: 2% 3%;
    padding: 2%;
}

.filterclass {
    max-width: 250px;
    min-width: 250px;
    text-align: center;
}

.filterclass .search {
    padding-top: 0px;
}

.filterclass h2 {
    font-family: Consolas;
    font-weight: bolder;
    border-bottom: 1px solid hsla(240, 9%, 31%, .4);
}

.filtertoggles {
    padding-left: 1rem;
}

.filtertoggles div {
    display: flex;
    align-items: center;
}

.filtertoggles p {
    line-height: 0.2rem;
    padding-left: 0.5rem;
    font-family: Consolas;
    font-weight: bold;
}

.filtertoggles input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }
  
  .toggle {
    height: 1.5rem;
    width: 2.5rem;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: hsl(36, 10%, 95%);
    transition: all 0.2s ease;
  }
  
  .toggle:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #ec6424;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
  }
  .toggle:checked {
    border-color: #ec6424;
  }
  .toggle:checked:after {
    transform: translatex(0.9rem);
  }

  .filtergrid {
      display: grid;
      width:100%;
      grid-template-columns:85% 15%;
  }

  .ingredient_tags {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: white;
    margin: 1rem;
  }
  
  .ingredient_tag {
    background:hsl(0, 0%, 80%);
    border-radius: 14px;
    font-weight: bolder;
    margin: 1% 1%;
    padding: 2.5%;
    color:#c41560;
    height:fit-content;
    display: flex;
    align-items: center;
  }

  .ingredient_tag p {
      margin: 0px;
      background-color: #a313511f;
      border-radius: 30px;
      font-weight: 50;
      margin-left: 3px;
      padding: 0px 5px 0px 5px;
      font-size: 0.8rem;
      color: #424242;
  }

  .ingredient_tag:hover {
      background:hsl(0, 0%, 90%);
      cursor: pointer;
  }