<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Recipe Space</title>
    <meta name="author" content="Andrew Hernandez, Gourab, Mark, Freddy" />
    <meta name="description" content="Recipe Heaven" />
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC">
    
    <link rel="stylesheet" type="text/css" href="/css/about.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />

    
  </head>

  <body>
  
    {% if session['login'] %} {% include 'user_nav.html' %} {% else %} {%
    include 'navbar.html' %} {% endif %} 

    <hr class ="line-split"/>

    <section class="about-section">
        <div class="container-fluid p-0">
          <div class="row no-gutters position-relative">
            <div class="left-header d-none d-lg-block col-lg-3 col-xl-4">
              <div class="v-center-box d-flex align-items-end text-uppercase">
                <h2 class="mb-0">About US</h2>
              </div>
            </div>
            <div class="col-lg-9 col-xl-8">
              <div class="main-content p-5">
                <div class="main-header mb-4">
                  <h6 class="sub-heading text-uppercase d-block mb-2">Who we are</h6>
                  <h1 class="main-heading d-inline-block text-uppercase pb-3 border-bottom">&lt; RecipeSpace &gt;</h1>
                </div>
      
                <div class="row mb-5">
                  <div class="mb-5 mb-sm-4 col-md-4">
                    <img src="/css/img/Andrew.png" alt="Colorful Wall">
                  </div>
                  <div class="col-md-8">
                    <div class="about__text mb-5 mb-sm-4 mb-md-4">
                      <h3>I'm Andrew</h3>
                      <p class="m-0">Andrew, a 4th year Computer Science student in the CSE department who enjoys full stack development but prefers the backend.</p>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-5">
                  <div class="mb-5 mb-sm-4 col-md-4">
                    <img src="/css/img/fred.png" alt="Colorful Wall">
                  </div>
                  <div class="col-md-8">
                    <div class="about__text mb-5 mb-sm-4 mb-md-4">
                      <h3>I'm Fred</h3>
                      <p class="m-0">Frederick who is a second year Electrical Engineering student in the ECE department who prefers to connect the web interaction and the backend.</p>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-5">
                  <div class="mb-5 mb-sm-4 col-md-4">
                    <img src="/css/img/Gourab.jpg" alt="Colorful Wall">
                  </div>
                  <div class="col-md-8">
                    <div class="about__text mb-5 mb-sm-4 mb-md-4">
                      <h3>I'm Gourab</h3>
                      <p class="m-0">Gourab is a second year computer engineering student at the ECE department who has a strong proclivity for web development.</p>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-5">
                  <div class="mb-5 mb-sm-4 col-md-4">
                    <img src="/css/img/Mark.jpg" alt="Colorful Wall">
                  </div>
                  <div class="col-md-8">
                    <div class="about__text mb-5 mb-sm-4 mb-md-4">
                      <h3>I'm Mark</h3>
                      <p class="m-0">Mark  a 4th year Electrical Engineering student, who doesn’t mind working with frontend CSS, HTML, and JavaScript, but also dabbles a little bit in the backend.</p>
                    </div>
                  </div>
                </div>
      
                <div class="about-data">
                  <div class="row no-gutters pt-5 border-top">
                    <div class="mb-4 mb-md-0 pr-sm-3 p-md-0 col-sm-6 col-md-3">
                      <div class="media">
                        <i class="fas fa-mug-hot icon-18 mr-2"></i>
                        <div class="media-body">
                          <p class="data-number m-0 font-weight-bold">10</p>
                          <p class="m-0 text-uppercase">Iri Kumi's</p>
                        </div>
                      </div>
                    </div>
      
                    <div class="mb-4 mb-md-0 pl-sm-3 p-md-0 col-sm-6 col-md-3">
                      <div class="media">
                        <i class="fas fa-code icon-18 mr-2"></i>
                        <div class="media-body">
                          <p class="data-number m-0 font-weight-bold">36,000</p>
                          <p class="m-0 text-uppercase">Lines of code</p>
                        </div>
                      </div>
                    </div>
      
                    <div class="mb-4 mb-md-0 pr-sm-3 p-md-0 col-sm-6 col-md-3">
                      <div class="media">
                        <i class="fas fa-bus icon-18 mr-2"></i>
                        <div class="media-body">
                          <p class="data-number m-0 font-weight-bold">100</p>
                          <p class="m-0 text-uppercase">Rick's Tesla References</p>
                        </div>
                      </div>
                    </div>
      
                    <div class="mb-4 mb-md-0 pl-sm-3 p-md-0 col-sm-6 col-md-3">
                      <div class="media">
                        <i class="far fa-smile-wink icon-18 mr-2"></i>
                        <div class="media-body">
                          <p class="data-number m-0 font-weight-bold">100</p>
                          <p class="m-0 text-uppercase">Ramsin's Blessings</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>




   </body>
</html>