<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My Basket</title>
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/basket.css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
   
</head>
<body>
    <style type='text/css'>
        @import '/css/basket.css' screen, print;
        @import '/css/style.css' screen, print;
        

      </style>
    {% if session['login'] %} {% include 'user_nav.html' %} {% else %} {%
        include 'navbar.html' %} {% endif %} {% include 'search.html' %}
    <div class="basketWindow"> <!-- Horizontal Flexbox -->
        <sidebar class="basketSidebar" id ="basketSidebar">
            <h1> Bookmarked Recipes </h1>
            {% if amount %}
            <p> {{amount}} Recipes </p> <!--Make sure the plural is correct (if there's only one recipe print 'recipe')-->
            {% endif %}
            {% for recipe in recipes %}
            <!-- for bookmark in bookmaredRecipes -->
            <div class='basketCard'> 
                <div class='basketCardContent'> <!--horizontal flex-->
                    <img class='basketCardRecipeImage' src='{{recipe[9]}}'> <!--Left side image of recipe-->
                    <div class='basketCardRightContent'> <!--vertical flex-->
                        <div class='basketCardText'>
                            <h2> {{recipe[2]}} </h2> <!--Name of Recipe-->
                            <p> {{recipe[15]}} </p> <!--Number of ingredients in Recipe-->
                        </div> <!--basketCardText-->
                        <a id='{{recipe[2]}}' onClick="addBasket(this.id)" class='clickableButton'> Add to Basket </a>
                    </div> <!--basketCardRightContent-->
                </div> <!--basketCardContent-->
                <img class='bookmark' src='{{recipe[13]}}'> <!--bookmark icon-->
                {% if session['login'] %}
                    <script >
                        function addBasket(id) {
        
                        var book = document.getElementById(String(id))
                        
                        console.log(id);
                        var data = { recipe: String(id), email:'{{session["email"]}}'};
                        fetch("http://localhost/addBasket", {
                          method: "POST",
                          body: JSON.stringify(data),
                          headers: { "Content-type": "application/json; charset=UTF-8" },
                        })
                          .then(function (response) {
                            if (response.status >= 200 && response.status <= 299) {
                              window.location.reload();
                              return response.json();
                            } else {
                              throw Error(response.statusText);
                            }
                          })
                          .then()
                          .catch((error) => {});
                      }
                    </script>
                {% endif %}
            </div> <!--basket card--> 
            {% endfor %}
        </sidebar>
        <script type="text/javascript">
				
            function printList(){
                var images = document.getElementsByTagName('img');
                for (i = 0; i < images.length;i++ ) {
                    images[i].style.display = "none";
                }
                document.getElementById("basketSidebar").style.display='none';
                window.print()
                
                window.location.reload()
                
                    }
            
                </script>

        <div class='mainBasketContent'>
            <div class='basketHeader'> <!--horizontal flexbox-->
                <div>
                    <h2> My Basket </h2>
                    <img id="myBasketHelp" class="helpIcon" src="/css/img/help_icon.png">
                    <a class="clickableButton" id="clearBasket" onClick="clearBasket()"> Clear Basket </a>
                    {% if session['login'] %}
                        <script>
                        function clearBasket() {
                            var data = {email: '{{session["email"]}}'};
                            fetch("http://localhost/clearBasket", {
                                  method: "POST",
                                  body: JSON.stringify(data),
                                  headers: { "Content-type": "application/json; charset=UTF-8" },
                              })
                            .then(function (response) {
                              if (response.status >= 200 && response.status <= 299) {
                                window.location.reload();
                                return response.json();
                              } else {
                                throw Error(response.statusText);
                              }
                            })
                            .then()
                            .catch((error) => {});
                        }</script>
                    {% endif %}
                </div>
                <div>
                    <img class="printIcon" onClick="printList()" id='print' src="/css/img/print_icon.png">
                    <a class="clickableButton" id="instacart"> Instacart </a>
                    <a class="clickableButton" id="shipt"> Shipt </a>
                    
                </div>
            </div> <!--basketHeader-->
            
            <div class="basketGrid" id="basketGrid">
                <style type='text/css'>
                    @import '/css/basket.css' screen, print;
                    @import '/css/style.css' screen, print;
            
                  </style>
                <div class="gridHeader" id="itemHeader">
                    <h2> Item </h2>
                    <div class="sortButtonContainer">
                        <div class="sortUpButton"></div>
                        <div class="sortDownButton"></div>
                    </div>
                </div> <!-- gridHeader -->

                <div class="gridHeader" id='categoryHeader'>
                    <div class="gridHeaderFlex">
                        <h2> Category </h2>
                        <img src='/css/img/help_icon.png' class="helpIcon" id="categoryHelp">
                    </div>
                    <div class="sortButtonContainer">
                        <div class="sortUpButton"></div>
                        <div class="sortDownButton"></div>
                    </div>
                </div> <!-- gridHeader -->

                <div class="gridHeader" id='quantityHeader'>
                    <div class="gridHeaderFlex">
                        <h2> Quantity </h2>
                        <img src='/css/img/help_icon.png' class="helpIcon" id="categoryHelp">
                    </div>
                    <div class="sortButtonContainer">
                        <div class="sortUpButton"></div>
                        <div class="sortDownButton"></div>
                    </div>
                </div> <!-- gridHeader -->

                <div class="gridHeader" id='quantityHeader'>
                    <div class="gridHeaderFlex">
                        <h2> Cost </h2>
                        <img src='/css/img/help_icon.png' class="helpIcon" id="costHelp">
                    </div>
                    <div class="sortButtonContainer">
                        <div class="sortUpButton"></div>
                        <div class="sortDownButton"></div>
                    </div>
                </div> <!-- gridHeader -->
            
                {% for ingredient in ingredients %}
                <div  class="itemEntry">
                    <img id={{ingredient[0]}} onClick="removeBasket(this.id)" src="/css/img/remove_ingredient.svg.png">
                    <p> {{ingredient[1]}} </p>
                    <script>
                        function removeBasket(id) {
        
                            var book = document.getElementById(String(id))
                            
                            console.log(id);
                            var data = { recipe: String(id)};
                            fetch("http://localhost/removeBasket", {
                              method: "POST",
                              body: JSON.stringify(data),
                              headers: { "Content-type": "application/json; charset=UTF-8" },
                            })
                              .then(function (response) {
                                if (response.status >= 200 && response.status <= 299) {
                                  window.location.reload();
                                  return response.json();
                                } else {
                                  throw Error(response.statusText);
                                }
                              })
                              .then()
                              .catch((error) => {});
                          }
                    </script>
                </div>
                <div class="categoryEntry">
                    {{ingredient[2]}}
                </div>
                <div class="quantityEntry">
                    <img src="/css/img/edit_quantity.png">
                    <p> {{ingredient[3]}} {{ingredient[4]}}</p> <!-- [quantity] [unit]-->
                </div>
                <div class="costEntry">
                    ${{ingredient[5]}} <!-- Note this assumes that cost will always be in USD and will be positive -->
                </div>
                {% endfor %}
                
            </div>

            <section class='totalCost'>
                Total Cost: ${{totalCost}}
            </section>

        </div>
    </div>
</body>
</html>