<div class='basketCard'> 
    <div class='basketCardContent'> <!--horizontal flex-->
        <img class='basketCardRecipeImage' src='../public/css/img/mac_n_cheese.jpg'> <!--Left side image of recipe-->
        <div class='basketCardRightContent'> <!--vertical flex-->
            <div class='basketCardText'>
                <h2> Mac & Cheese </h2> <!--Name of Recipe-->
                <p> (# ingredients) </p> <!--Number of ingredients in Recipe-->
            </div> <!--basketCardText-->
            <a class='clickableButton'> Add to Basket </a>
        </div> <!--basketCardRightContent-->
    </div> <!--basketCardContent-->
    <img class='bookmark' src='../public/css/img/bookmarked.svg'> <!--bookmark icon-->
</div> <!--basket card--> 