<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My Basket</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../public/css/basket.css'>
    <script src='../public/css/basket.js'></script>
</head>
<body>
    <div class="basketWindow"> <!-- Horizontal Flexbox -->
        <sidebar class="basketSidebar">
            <h1> Bookmarked Recipes </h1>
            <p> (# recipes) </p> <!--Make sure the plural is correct (if there's only one recipe print 'recipe')-->
            <!-- for bookmark in bookmaredRecipes -->
            <div class='basketCard'> 
                <div class='basketCardContent'> <!--horizontal flex-->
                    <img class='basketCardRecipeImage' src='../public/css/img/mac_n_cheese.jpg'> <!--Left side image of recipe-->
                    <div class='basketCardRightContent'> <!--vertical flex-->
                        <div class='basketCardText'>
                            <h2> Mac & Cheese </h2> <!--Name of Recipe-->
                            <p> (# ingredients) </p> <!--Number of ingredients in Recipe-->
                        </div> <!--basketCardText-->
                        <a class='clickableButton'> Add to Basket </a>
                    </div> <!--basketCardRightContent-->
                </div> <!--basketCardContent-->
                <img class='bookmark' src='../public/css/img/bookmarked.svg'> <!--bookmark icon-->
            </div> <!--basket card--> 
            <div class='basketCard'> 
                <div class='basketCardContent'> <!--horizontal flex-->
                    <img class='basketCardRecipeImage' src='../public/css/img/mac_n_cheese.jpg'> <!--Left side image of recipe-->
                    <div class='basketCardRightContent'> <!--vertical flex-->
                        <div class='basketCardText'>
                            <h2> Mac & Cheese </h2> <!--Name of Recipe-->
                            <p> (# ingredients) </p> <!--Number of ingredients in Recipe-->
                        </div> <!--basketCardText-->
                        <a class='clickableButton'> Add to Basket </a>
                    </div> <!--basketCardRightContent-->
                </div> <!--basketCardContent-->
                <img class='bookmark' src='../public/css/img/bookmarked.svg'> <!--bookmark icon-->
            </div> <!--basket card--> 
            <div class='basketCard'> 
                <div class='basketCardContent'> <!--horizontal flex-->
                    <img class='basketCardRecipeImage' src='../public/css/img/mac_n_cheese.jpg'> <!--Left side image of recipe-->
                    <div class='basketCardRightContent'> <!--vertical flex-->
                        <div class='basketCardText'>
                            <h2> Mac & Cheese </h2> <!--Name of Recipe-->
                            <p> (# ingredients) </p> <!--Number of ingredients in Recipe-->
                        </div> <!--basketCardText-->
                        <a class='clickableButton'> Add to Basket </a>
                    </div> <!--basketCardRightContent-->
                </div> <!--basketCardContent-->
                <img class='bookmark' src='../public/css/img/bookmarked.svg'> <!--bookmark icon-->
            </div> <!--basket card--> 
            <div class='basketCard'> 
                <div class='basketCardContent'> <!--horizontal flex-->
                    <img class='basketCardRecipeImage' src='../public/css/img/mac_n_cheese.jpg'> <!--Left side image of recipe-->
                    <div class='basketCardRightContent'> <!--vertical flex-->
                        <div class='basketCardText'>
                            <h2> Mac & Cheese </h2> <!--Name of Recipe-->
                            <p> (# ingredients) </p> <!--Number of ingredients in Recipe-->
                        </div> <!--basketCardText-->
                        <a class='clickableButton'> Add to Basket </a>
                    </div> <!--basketCardRightContent-->
                </div> <!--basketCardContent-->
                <img class='bookmark' src='../public/css/img/bookmarked.svg'> <!--bookmark icon-->
            </div> <!--basket card--> 
            <div class='basketCard'> 
                <div class='basketCardContent'> <!--horizontal flex-->
                    <img class='basketCardRecipeImage' src='../public/css/img/mac_n_cheese.jpg'> <!--Left side image of recipe-->
                    <div class='basketCardRightContent'> <!--vertical flex-->
                        <div class='basketCardText'>
                            <h2> Mac & Cheese </h2> <!--Name of Recipe-->
                            <p> (# ingredients) </p> <!--Number of ingredients in Recipe-->
                        </div> <!--basketCardText-->
                        <a class='clickableButton'> Add to Basket </a>
                    </div> <!--basketCardRightContent-->
                </div> <!--basketCardContent-->
                <img class='bookmark' src='../public/css/img/bookmarked.svg'> <!--bookmark icon-->
            </div> <!--basket card--> 
            <div class='basketCard'> 
                <div class='basketCardContent'> <!--horizontal flex-->
                    <img class='basketCardRecipeImage' src='../public/css/img/mac_n_cheese.jpg'> <!--Left side image of recipe-->
                    <div class='basketCardRightContent'> <!--vertical flex-->
                        <div class='basketCardText'>
                            <h2> Mac & Cheese </h2> <!--Name of Recipe-->
                            <p> (# ingredients) </p> <!--Number of ingredients in Recipe-->
                        </div> <!--basketCardText-->
                        <a class='clickableButton'> Add to Basket </a>
                    </div> <!--basketCardRightContent-->
                </div> <!--basketCardContent-->
                <img class='bookmark' src='../public/css/img/bookmarked.svg'> <!--bookmark icon-->
            </div> <!--basket card--> 
            <div class='basketCard'> 
                <div class='basketCardContent'> <!--horizontal flex-->
                    <img class='basketCardRecipeImage' src='../public/css/img/mac_n_cheese.jpg'> <!--Left side image of recipe-->
                    <div class='basketCardRightContent'> <!--vertical flex-->
                        <div class='basketCardText'>
                            <h2> Mac & Cheese </h2> <!--Name of Recipe-->
                            <p> (# ingredients) </p> <!--Number of ingredients in Recipe-->
                        </div> <!--basketCardText-->
                        <a class='clickableButton'> Add to Basket </a>
                    </div> <!--basketCardRightContent-->
                </div> <!--basketCardContent-->
                <img class='bookmark' src='../public/css/img/bookmarked.svg'> <!--bookmark icon-->
            </div> <!--basket card--> 
            <div class='basketCard'> 
                <div class='basketCardContent'> <!--horizontal flex-->
                    <img class='basketCardRecipeImage' src='../public/css/img/mac_n_cheese.jpg'> <!--Left side image of recipe-->
                    <div class='basketCardRightContent'> <!--vertical flex-->
                        <div class='basketCardText'>
                            <h2> Mac & Cheese </h2> <!--Name of Recipe-->
                            <p> (# ingredients) </p> <!--Number of ingredients in Recipe-->
                        </div> <!--basketCardText-->
                        <a class='clickableButton'> Add to Basket </a>
                    </div> <!--basketCardRightContent-->
                </div> <!--basketCardContent-->
                <img class='bookmark' src='../public/css/img/bookmarked.svg'> <!--bookmark icon-->
            </div> <!--basket card--> 
        </sidebar>

        <div class='mainBasketContent'>
            <div class='basketHeader'> <!--horizontal flexbox-->
                <div>
                    <h2> My Basket </h2>
                    <img id="myBasketHelp" class="helpIcon" src="../public/css/img/help_icon.png">
                </div>
                <div>
                    <a class="clickableButton" id="instacart"> Instacart </a>
                    <a class="clickableButton" id="shipt"> Shipt </a>
                    <img class="printIcon" id='print' src="../public/css/img/print_icon.png">
                </div>
            </div> <!--basketHeader-->
            
            <div class="basketGrid">
                <div class="gridHeader" id="itemHeader">
                    <h2> Item </h2>
                    <div class="sortButtonContainer">
                        <div clarss="sortUpButton"></div>
                        <div class="sortDownButton"></div>
                    </div>
                </div> <!-- gridHeader -->

                <div class="gridHeader" id='categoryHeader'>
                    <div class="gridHeaderFlex">
                        <h2> Category </h2>
                        <img src='../public/css/img/help_icon.png' class="helpIcon" id="categoryHelp">
                    </div>
                    <div class="sotButtonContainer">
                        <div class="sortUpButton"></div>
                        <div class="sortDownButton"></div>
                    </div>
                </div> <!-- gridHeader -->

                <div class="gridHeader" id='quantityHeader'>
                    <div class="gridHeaderFlex">
                        <h2> Quantity </h2>
                        <img src='../public/css/img/help_icon.png' class="helpIcon" id="categoryHelp">
                    </div>
                    <div class="sortButtonContainer">
                        <div class="sortUpButton"></div>
                        <div class="sortDownButton"></div>
                    </div>
                </div> <!-- gridHeader -->
                <div class="itemEntry">
                    <img src="../public/css/img/remove_ingredient.svg.png">
                    <p> Cheddar Cheese </p>
                </div>
                <div class="categoryEntry">
                    Dairy
                </div>
                <div class="quantityEntry">
                    <img src="../public/css/img/edit_quantity.png">
                    <p> 8 oz </p>
                </div>
                <div class="itemEntry">
                    <img src="../public/css/img/remove_ingredient.svg.png">
                    <p> Cheddar Cheese </p>
                </div>
                <div class="categoryEntry">
                    Dairy
                </div>
                <div class="quantityEntry">
                    <img src="../public/css/img/edit_quantity.png">
                    <p> 8 oz </p>
                </div>
                <div class="itemEntry">
                    <img src="../public/css/img/remove_ingredient.svg.png">
                    <p> Cheddar Cheese </p>
                </div>
                <div class="categoryEntry">
                    Dairy
                </div>
                <div class="quantityEntry">
                    <img src="../public/css/img/edit_quantity.png">
                    <p> 8 oz </p>
                </div>
            </div>

        </div>
    </div>
</body>
</html>