<div class="filterclass">
    <div class="filteringredient">
        <h2>Filter Results</h2>
        {% include 'filter_search.html' %}
        <div class="ingredient_tags">
            <div class="ingredient_tag">testing</div>
            <div class="ingredient_tag">testing2</div>
            <div class="ingredient_tag">testing3</div>
            <div class="ingredient_tag">testing4</div>
            <div class="ingredient_tag">testing5</div>
            <div class="ingredient_tag">testing6</div>
            <div class="ingredient_tag">testing7</div>
            <div class="ingredient_tag">testing8</div>
            <div class="ingredient_tag">testing9</div>
            <div class="ingredient_tag">testing10</div>
            <div class="ingredient_tag">testing11</div>
            {% for ingredient in ingredients %}
                <div class="ingredient_tag">{{ingredient}}</div>
            {% endfor %}
        </div>
        <script src="/css/ingredient_tags.js"></script>
        <div class="ingredientToggle">
            <section class="filtertoggles">
                <div>
                    <input type="checkbox" class="toggle" id="tvegetarian">
                    <p id="vegetarian">Vegetarian</p>
                </div>
                <div>
                    <input type="checkbox" class="toggle" id="tvegan">
                    <p id="vegan">Vegan</p>
                </div>
                <div>
                    <input type="checkbox" class="toggle" id="thalal">
                    <p id="halal">Halal</p> <!--not sure about this one-->
                </div>
                <div>
                    <input type="checkbox" class="toggle" id="tkosher">
                    <p id="kosher">Kosher</p> <!--not sure about this one-->
                </div>
                <div>
                    <input type="checkbox" class="toggle" id="tglutenfree">
                    <p id="glutenfree">Gluten Free</p>
                </div>
                <div>
                    <input type="checkbox" class="toggle" id="tlactoseintolerant">
                    <p id="lactoseintolerant">Lactose Intolerant</p>
                </div>
                <div>
                    <input type="checkbox" class="toggle" id="tpeanutallergies">
                    <p id="peanutallergies">Peanut Allergies</p>
                </div>
            </section>
        </div>
    </div>
</div>