<link rel="stylesheet" type="text/css" href="css/modal.css">

<header>
<img src ="css/img/logoResize.png">

<ul class="nav">
<li class="navlink"><a href="/">Home</a></li>
<li class="navlink"><a href="/browse">Browse</a></li>
<li class="navlink"><a href="/">About</a></li>
<li class="navlink"><a id= 'modalButton' >Login</a></li>
</ul>

</header>
<div class="overlay" id ='overlay'>
</div>

<div class="SignUpModal" id="SignUpModal">

    <div class="modal-header">
        <div id="popup-close-button"><a href="#"></a></div>
        <ul>
          <li><a href="#" id="sign-in">Sign In</a></li>
          <li><a href="#" id="Sign-Up">Sign Up</a></li>
        </ul>
    </div>
    <div class="modal-form">
        <form method="POST" action="/login" class="sign" id = 'sign'>
          
          <input placeholder="Email" type="text" name='email' id="email">
          
          <input placeholder="Password" name = 'password' type="password" id="password">
          <input type="submit" id="submit" value="Submit">
        </form>
       
        <form method="POST" action="/sign_up" class="SignUp" name='SignUp' id ='SignUp'>
          <input placeholder="Full Name" type="text" name="name-signUp" id="name-signUp">
          <input placeholder="Email" type="text" name="email-Signup" id="email-Signup">
          
          <input placeholder="Password" type="password" name="password-SignUp" id="password-SignUp">
          
          <input placeholder="Confirm Password" type="password" name="password-confirmation" id="password-confirmation">
          <input type="submit" id="submit" value="Create Account">
        </form>
    </div><!--.popup-content-->

</div>
<script src="css/modal.js"></script>
