<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Recipe Space</title>
    <meta name="author" content="Andrew Hernandez, Gourab, Mark, Freddy">
    <meta name="description" content="Recipe Heaven">
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/card.css">
  </head>

  <body >
    {% include 'user_nav.html' %}
    <form action="/logout" class="logout-form">
        <button class= 'logout' >Logout</button>
    </form>

    <div class = "grid-container">
      {% for recipe in recipes %}

      <div class="recipecard">
        <img  class="recipeimg" src = {{recipe[9]}}>
        <img id="{{recipe[2]}}" onClick="bookData(this.id);" class="bookmark" src="{{recipe[13]}}">
        <div class="recipecontent">
            <h3 class="recipetitle"> {{recipe[2]}} </h3>
            <div class="recipestatblock">
                <div class="recipestatlabel">
                    <p> Taste: {{recipe[10]}} </p>
                    <p> Ease: {{recipe[11]}} </p>
                    <p> Cleanup: {{recipe[12]}} </p>
                </div>
                <div class="recipestatlabel">
                    <p> ⭐⭐⭐ </p> <!--taste-->
                    <p> ⭐⭐ </p> <!--ease-->
                    <p> ⭐ </p> <!--cleanup-->
                </div>
            </div> <!--recipestatblock-->
            <div class="recipebottomcontent">
                <ul class="recipekeyingredients">
                    {% for ing in basic[recipe[2]] %}
                      <li class="ingredient"> {{ing}}</li>
                    {% endfor %}
                       
                  </ul> 

                <div class="recipetimeblock">
                    <p> Cook Time: </p>
                    <p class="recipedurationtime">
                        {{recipe[3]}} m
                    </p>
                </div>
    
            </div> <!--recipebottomcontent-->
        </div> <!--recipecontent-->
        <script >
          function bookData(id) {
            
            var book = document.getElementById(String(id))
            if(book.src == 'http://localhost/css/img/bookmarked.svg' ){
              book.src = "https://img.icons8.com/cute-clipart/64/000000/bookmark-ribbon.png"
            }
            else{
              book.src = 'css/img/bookmarked.svg'
            }
            console.log(id);
            var data = { recipe: String(id), email: '{{session["email"]}}', book_src:book.src };
            fetch("http://localhost/bookmark", {
              method: "POST",
              body: JSON.stringify(data),
              headers: { "Content-type": "application/json; charset=UTF-8" },
            })
              .then(function (response) {
                if (response.status >= 200 && response.status <= 299) {
                  window.location.reload();
                  return response.json();
                } else {
                  throw Error(response.statusText);
                }
              })
              .then()
              .catch((error) => {});
          }
        </script>
    </div> <!--recipecard-->

    {% endfor %}
    
</div>
  
 
       

  </body>
</html>