<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC">
    <!-- Page Info -->
    <title>Recipe Space</title>
    <meta name="author" content="Andrew Hernandez, Gourab, Mark, Freddy" />
    <meta name="description" content="Recipe Heaven" />
   
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/cardpage.css" />
  </head>

  <body>
    {% if session['login'] %} {% include 'user_nav.html' %} {% else %} {%
    include 'navbar.html' %} {% endif %} {% include 'search.html' %} {% for
    recipe in recipes %}

    <div class="cardPage" id ='cardPage'>
      <div id ="img-col" class="img-col">
        <img class="recipeimg" src="{{recipe[8]}}" />
        <img
          onClick="bookData(this.id);"
          id="{{recipe[1]}}"
          class="bookmark"
          src="{{recipe[12]}}"
        />
      </div>
      <div class="ing-col" id ="ing-col">
        <div class="recipecontent">
          <h3 class="recipetitle">{{recipe[1]}}</h3>
          <hr color='white'>
          <div class="recipestatblock">
            <div class="recipestatlabel">
              <p>Taste: {{recipe[9]}}</p>
              <p>Ease: {{recipe[10]}}</p>
              <p>Cleanup: {{recipe[11]}}</p>
            </div>
            <div class="recipestatlabel">
              <p>⭐⭐⭐</p>
              <!--taste-->
              <p>⭐⭐</p>
              <!--ease-->
              <p>⭐</p>
              <!--cleanup-->
            </div>
          </div>
          <!--recipestatblock-->
          <div class="recipebottomcontent">
            <ul class="recipekeyingredients">
              {% for ing in basic[recipe[1]] %}
              <li class="ingredient">{{ing}}</li>
              {% endfor %}
            </ul>
            <!--recipekeyingredients-->

            <div class="recipetimeblock">
              <p>Cook Time:</p>
              <p class="recipedurationtime">{{recipe[2]}} m</p>
            </div>
            
            <ol class="recipeInstructions">
                {% for ins in instructions %}
                <li class="instruction">{{ins}}</li>
                {% endfor %}
              </ol>
          </div>
          <!--recipebottomcontent-->
        </div>
        <!--recipecontent-->
        {% if session['login'] %}
        <script>
          // var id = '{{recipe[1]}}';
          // var bm = document.getElementById(id);
          //['{{session["email"]}}','{{recipe[1]}}', {{recipe[2]}}, '{{recipe[3]}}', '{{recipe[4]}}', '{{recipe[5]}}', '{{recipe[6]}}', '{{recipe[7]}}', '{{recipe[8]}}', {{recipe[9]}}, {{recipe[10]}}, {{recipe[11]}}

          function bookData(id) {
            var book = document.getElementById(String(id))
            if(book.src == 'http://recipe-space.com/css/img/bookmarked.svg' ){
              book.src = "https://img.icons8.com/cute-clipart/64/000000/bookmark-ribbon.png"
            }
            else{
              book.src = '/css/img/bookmarked.svg'
            }
            console.log(id);
            var data = { recipe: String(id), email: '{{session["email"]}}', book_src:book.src };
            fetch("http://recipe-space.com/bookmark", {
              method: "POST",
              body: JSON.stringify(data),
              headers: { "Content-type": "application/json; charset=UTF-8" },
            })
              .then(function (response) {
                if (response.status >= 200 && response.status <= 299) {
                  window.location.reload();
                  return response.json();
                } else {
                  throw Error(response.statusText);
                }
              })
              .then()
              .catch((error) => {});
          }
        </script>
        {% endif %}
      </div>
    </div>
    <!--recipecard-->

    {% endfor %}
    <script>
        /*var img = document.getElementById('img-col')
        var ing = document.getElementById('ing-col')
        var cp = document.getElementById('cardPage')

        maxheight = Math.max(img.style.height, ing.style.height)
        img.style.cssText += maxheight
        cp.style.cssText += maxheight */


    </script>
  </body>
</html>
