<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Recipe Space</title>
    <meta name="author" content="Andrew Hernandez, Gourab, Mark, Freddy">
    <meta name="description" content="Recipe Heaven">

    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    {% if session['login']  %}
    {% include 'user_nav.html' %}
    {% endif %}
    {% include 'search.html' %}

       

  </body>
</html>